@import './../../styles/template'

.cell
	cursor: pointer
	background-position: center
	background-repeat: no-repeat
	background-size: contain
	padding: 5px
	border-radius: $cell-border-radius
	@include unOccupiedCell
	&:active
		@include occupiedCell

.tic, .tac
	animation-name: displayingMove
	animation-duration: .33s

.tic
	@include ticCell

.tac
	@include tacCell

.ticWinner
	background-color: $tic-winner-color
.tacWinner
	background-color: $tac-winnew-color

.occupied
	@include occupiedCell

@keyframes displayingMove
	0%
		filter: brightness(.75)
	100%
		filter: brightness(1)