$b-width: .125rem
*
	margin: 0
	box-sizing: border-box
	font-weight: 800

#root
	width: 100vw
	height: 100vh
	background-color: darkslateblue

body
	// overflow: hidden

ul
	padding: 0
	list-style-type: none

.game
	position: relative
	padding: .5rem
	display: flex
	flex-direction: column
	width: inherit
	height: inherit

.Header
	display: flex
	justify-content: flex-end



.GameMessage
	padding-bottom: .5rem
	border-bottom: 1px solid slategrey
	text-align: center

.GameOption
	border-bottom: 1px solid slategrey
	padding: .5rem 0	
	& li
		margin: 2.5px 0
		&:hover
			background-color: red

.History
	height: auto
	border-bottom: 1px solid slategrey
	overflow-y: auto
	& button
		padding: .5rem 0
		border: 0
		background-color: transparent

.GameBoard
	// flex-basis: 80%
	width: 100%
	display: grid
	grid-template: repeat(15, 40px) / repeat(15, 40px)
	justify-content: center
	align-content: center
	& > div
		border-right: 1px solid slategrey
		border-bottom: 1px solid slategrey
	& > div:nth-child(15n)
		border-right: 0px solid transparent
	& > div:nth-child(n+211)
		border-bottom: 0px solid transparent

.GameMenu

	top: 0
	right: 0
	position: absolute
	border-left: 1px solid slategrey
	// flex-basis: 20%
	// display: flex
	// flex-direction: column
	// padding-left: .5rem
	width: 20vw
	height: 100vh
	background: red
	padding: 0.5rem

.zzz
	position: absolute
	right: .5rem
	top: .5rem

.Cell
	// background: yellow
	color: black
	cursor: pointer
	background-position: center
	background-repeat: no-repeat
	background-size: contain
	padding: 5px
	&.tic
		background-image: url('./../img/tic.png')
	&.tac
		background-image: url('./../img/tac.png')
	&.winner
		background-color: red

.GameOption
	height: fit-content

.winner
	background-color: red