@import './../../styles/template'

.header
	position: relative
	display: flex
	justify-content: center
	height: $cell-size
	text-transform: uppercase
.gameButtons
	position: absolute
	top: 0
	right: 0
	display: flex
	& > div + div
		margin-left: $cell-gap
	& img
		width: $cell-size

.headerElement
	@include headerElement
	@include unOccupiedCell
	&:active
		@include occupiedCell

.occupied
	@include occupiedCell

.unOccupied
	@include unOccupiedCell