@import './../../styles/template'

@supports (display: grid)
	.gameBoard
		width: 100%
		height: calc(100vh - #{$cell-size})
		display: grid
		grid-template: repeat($board-size, $cell-size) / repeat($board-size, $cell-size)
		grid-gap: $cell-gap
		justify-content: center
		align-content: center

// @supports ((display: -webkit-flex) or (display: -ms-flexbox) or (display: flex))
// 	.gameBoard
// 		width: 100%
// 		height: calc(100vh - #{$cell-size})
// 		display: flex
// 		grid-template: repeat($board-size, $cell-size) / repeat($board-size, $cell-size)
// 		grid-gap: $cell-gap
// 		justify-content: center
// 		align-content: center